<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>Logo design by <a href="mailto:tanupadath@gmail.com">Tanushree Padath</a> & <a href="mailto:noelleceane@gmail.com ">Noelle Szombathy</a>, lettering & web design by <a href="https://kmbrlygl.github.io/" target="_blanket">Kimberly Losenara</a></p>
       <p>© 2019 Sac Desco (Design Collective)</p>
      </div>
    </div>
  </div>
</footer>
