<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link type="text/plain" rel="author" href="{{ '/humans.txt' | url }}" />
  <link rel="icon" href="{{ '/assets/images/favicon.ico' | url }}">
  <!--<link rel="stylesheet" type="text/css" href="{{ '/assets/css/deps.css' | url }}">-->
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | url }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600|Roboto" rel="stylesheet">
  {% if site.environment == "production" %}<script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', '{{ site.GTMID }}');</script>{% endif %}
</head>
